@* @model Book
@{
    <h1>Add Book</h1>
    @using(Html.BeginForm("AddBook","Book",FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(val=>val.Title)
            @Html.TextBoxFor(val=>val.Title)
            @Html.ValidationMessageFor(val=>val.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(val => val.Description)
            @Html.TextBoxFor(val => val.Description)
            @Html.ValidationMessageFor(val => val.Description)
        </div>

        <div class="form-group">
           @Html.LabelFor(val=>val.Authors)
           <select class="form-select-sm" name="AuthorId">
                @foreach (Author author in ViewBag.AuthorsList)
                {
                    <option value="@author.AuthorId">@author.AuthorName</option>   
                }
            </select>
            
        </div>
        <input type="submit" value="Save" class=" btn btn-secondary">
        @Html.ActionLink("Show","ShowBookDetails","Book");
    }

    @if (TempData["Message"] != null)
    {
        <script>
            alert("@TempData["Message"]");
        </script>
    }
}
 *@